.review__write {
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
}

.review__cause {
	padding-top: 10px;
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	width: 270px;
	margin-left: 23px;
	margin-bottom: 13px;
	width: 276px;
}

.review {
	margin-top: 39px;
	border-bottom: rgba(0, 0, 0, 0.1) solid 2px;
	padding-bottom: 3px;
	margin-bottom: 20px;
}

@media(min-width:768px) {
	.review__write {
		font-size: 30px;
		padding-top: 34px;
	}
	.review__cause {
		width: 439px;
		margin-left: 162px;
	}
	.review {
		border-bottom: none;
		padding-bottom: 30px;
	}
}

@media(min-width:1200px) {
	.review__write {
		font-size: 30px;
		padding-top: 74px;
		line-height: 20px;
	}
	.review__cause {
		margin-left: 382px;
	}
}
