body{
  margin: 0px;
  padding: 0px;
	font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  width: 320px;
  font-family: "PT Sans", Arial, sans-serif;
  }
  @media(min-width:768px){
    body{
      width: 768px;
    }
  }
