.advantage__img2{
  fill:  #81b3d2;
  position: absolute;
  top:1500px;
  left:22px;
}
.advantage__img{
  fill:  #81b3d2;
  position: absolute;
  top:1370px;
  left:22px;
}
.advantage__img3{
  fill:  #81b3d2;
  position: absolute;
  top:1630px;
  left:22px;
}
.advantages__title{
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin-left: 69px;
}
.advantages__description{
  line-height: 21px;
  text-align: left;
  margin-left: 69px;
  color: #333333;
}
.advantages__item{
  margin-bottom: 42px;
}
.advantages__item--food{
  width: 280px;
}
