.advantages__img2 {
  fill: #81b3d2;
  position: absolute;
  top: -9px;
  left: 24px;
  width: 37px;
  height: 36px;
}

.advantages__img {
  fill: #81b3d2;
  position: absolute;
  top: -7px;
  left: 22px;
  width: 40px;
  height: 35px;
}

.advantages__img3 {
  fill: #81b3d2;
  position: absolute;
  top: -2px;
  left: 18px;
  width: 32px;
  height: 38px;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin-left: 69px;
}

.advantages__description1,
.advantages__description {
  line-height: 21px;
  text-align: left;
  margin-left: 69px;
  color: #333333;
}

.advantages__item {
  margin-bottom: 27px;
  position: relative;
}

.advantages__item--food {
  width: 280px;
}

.advantages {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__title {
    margin-top: 127px;
    display: block;
    width: 155px;
    text-align: center;
    font-size: 21px;
  }

  .advantages__item--food {
    order: 2;
    margin-left: 27px;
  }

  .advantages__item--souvenirs {
    order: 3;
    margin-left: -22px;
  }

  .advantages__item--housing {
    order: 1;
    margin-left: -20px;
  }

  .advantages__description {
    width: 160px;
    text-align: center;
    margin-top: 20px;
  }

  .advantages__description1 {
    width: 165px;
    text-align: center;
    margin-left: 61px;
    padding-top: 5px;
  }

  .advantages__img2 {
    fill: #81b3d2;
    position: absolute;
    top: 25px;
    left: 114px;
    width: 64px;
    height: 75px;
  }

  .advantages__img {
    fill: #81b3d2;
    position: absolute;
    top: 30px;
    left: 110px;
    width: 75px;
    height: 72px;
  }

  .advantages__img3 {
    fill: #81b3d2;
    position: absolute;
    top: 32px;
    left: 110px;
    width: 77px;
    height: 68px;
  }
}

@media (min-width: 1200px) {
  .advantages__item--food {
    margin-left: 50px;
  }

  .advantages__item--souvenirs {
    margin-left: 120px;
  }

  .advantages__description {
    width: 285px;
    margin-left: 75px;
    margin-right: -8px;
  }

  .advantages__description1 {
    width: 193px;
    margin-left: 118px;
  }

  .advantages__img2 {
    fill: #81b3d2;
    position: absolute;
    top: 24px;
    left: 182px;
    width: 64px;
    height: 75px;
  }

  .advantages__img {
    fill: #81b3d2;
    position: absolute;
    top: 29px;
    left: 180px;
    width: 75px;
    height: 72px;
  }

  .advantages__img3 {
    fill: #81b3d2;
    position: absolute;
    top: 32px;
    left: 178px;
    width: 77px;
    height: 68px;
  }

  .advantages__title {
    margin-left: 140px;
  }
}
