.city {
	background-color: #81b3d2;
	background-image: url("../img/white-copy-2.svg");
	background-position: top center;
	background-repeat: no-repeat;
	color: white;
	padding-bottom: 30px;
	margin-top: -10px;
}

.city__sedona {
	padding-top: 78px;
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
}

.city__number {
	font-size: 14px;
	line-height: 21px;
	margin-top: -8px;
	padding: 0px;
}

.city__tourist {
	width: 285px;
	font-size: 14px;
	line-height: 21px;
	margin-left: 18px;
}

@media(min-width:768px) {
	.city {
		background-image: none;
		width: 256px;
		height: 256px;
		padding: 0px;
		margin: 0px;
		margin-top: 2px;
	}
	.city__sedona {
		padding-top: 26px;
		padding-left: 45px;
		font-size: 21px;
		font-weight: 700;
		line-height: 26px;
		width: 162px;
	}
	.city__number {
		margin-top: -8px;
	}
	.city__tourist {
		width: 162px;
		padding-top: 6px;
		padding-left: 28px;
	}
}

@media(min-width:1200px) {
	.city {
		width: 400px;
	}
	.city__sedona {
		padding-top: 34px;
		padding-left: 120px;
	}
	.city__tourist {
		width: 265px;
		padding-left: 48px;
	}
}
