.img-sedona {
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .img-sedona__photo {
    width: 512px;
    height: 256px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .img-sedona__photo {
    width: 800px;
    height: 256px;
    margin: 0;
    padding: 0;
  }
}
