.map-sedona__pup{
position: absolute;
top:160px;
left: 145px;
}
.map-sedona{
  position: relative;
}
@media(min-width:768px){
  .map-sedona__pup{
    position: absolute;
    top:175px;
    left: 370px;
    }
}
@media(min-width:1200px){
  .map-sedona__pup{
    position: absolute;
    top:180px;
    left: 585px;
    }
}
