.sale__title {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.sale__description {
	line-height: 24px;
	color: #333333;
	width: 265px;
	padding-left: 28px;
}

.sale {
	margin-top: 50px;
	margin-bottom: 35px;
}

@media(min-width:768px) {
	.sale__title {
		font-size: 30px;
	}
	.sale__description {
		width: 435px;
		margin-top: 35px;
		margin-left: 139px;
		margin-bottom: 40px;
	}
}

@media(min-width:1200px) {
	.sale {
		margin-top: 55px;
	}
	.sale__description {
		width: 435px;
		margin-left: 353px;
		margin-bottom: 45px;
	}
}
