.doubt__title{
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 11px;
}
.doubt{
  width: 250px;
  margin-left: 33px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.doubt__description{
  padding-top:5px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
@media(min-width:768px){
  .doubt__title{
    font-size: 30px;
  }
  .doubt{
    width: 415px;
    margin-left: 173px;
    margin-bottom: 40px;
    margin-top: 43px;
  }
}
@media(min-width:1200px){
  .doubt{
    margin-left: 390px;
    margin-top: 63px;

  }

}
