.adrenalin {
  border-top: rgba(0, 0, 0, 0.1) solid 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  text-align: left;
  padding-left: 20px;
  margin-top: 20px;
  margin-left: 0;
  border-bottom: rgba(0, 0, 0, 0.1) solid 2px;
}

.spaces {
  border-top: rgba(0, 0, 0, 0.1) solid 2px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: left;
  padding-left: 20px;
  margin-top: 25px;
}

.union,
.cactus {
  border-top: rgba(0, 0, 0, 0.1) solid 2px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: left;
  padding-left: 20px;
  margin-top: 20px;
}

.spaces-title {
  font-weight: 700;
  line-height: 1px;
  font-size: 14px;
  text-align: left;
  padding-top: 10px;
}

.spaces-name {
  line-height: 1px;
  font-size: 14px;
  text-transform: none;
  text-align: left;
  padding-top: 10px;
}

.union__like,
.adrenalin__like,
.cactus__like,
.spaces__like {
  text-align: left;
  text-decoration: none;
}

.union__number,
.adrenalin__number,
.cactus__number,
.spaces__number {
  text-align: left;
  color: black;
  padding-left: 12px;
}

@media (min-width: 768px) {
  .shared-folder {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
  }

  .union {
    border-top: none;
    margin-top: -40px;
    margin-left: -20px;
  }

  .spaces {
    border-top: none;
    margin-left: 40px;
    margin-top: 47px;
  }

  .cactus {
    border-top: none;
    margin-top: -40px;
    margin-left: 40px;
  }

  .adrenalin {
    border: none;
    margin: 0;
    margin-top: 308px;
    margin-left: -668px;
  }

  .union-cloud {
    background-color: #eaeaea;
    width: 324px;
    height: 65px;
    padding-top: 15px;
    margin-top: -5px;
    display: flex;
  }

  .cactus-cloud {
    background-color: #f2f2f2;
    width: 324px;
    height: 65px;
    padding-top: 15px;
    margin-top: -5px;
    display: flex;
  }

  .adrenalin-cloud {
    background-color: #f2f2f2;
    width: 324px;
    height: 65px;
    padding-top: 15px;
    margin-top: -5px;
    display: flex;
  }

  .spaces-cloud {
    background-color: #f2f2f2;
    width: 648px;
    height: 65px;
    padding-top: 15px;
    margin-top: -5px;
    display: flex;
  }

  .union-description,
  .adrenalin-description,
  .cactus-description,
  .spaces-description {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-top: -10px;
  }

  .spaces-name {
    padding-top: 10px;
  }

  .spaces__like {
    margin-left: 400px;
    margin-top: 12px;
  }

  .union__number,
  .adrenalin__number,
  .cactus__number,
  .spaces__number {
    margin-left: -4px;
  }

  .cactus__like {
    margin-left: 43px;
    margin-top: 11px;
  }

  .union__like {
    margin-left: 108px;
    margin-top: 10px;
  }

  .adrenalin__like {
    margin-left: 108px;
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .shared-folder {
    margin: 0;
    padding: 0;
    margin-top: 14px;
  }

  .spaces {
    margin-top: 49px;
    margin-left: -20px;
    position: relative;
    margin-bottom: 0;
  }

  .spaces-cloud {
    position: absolute;
    top: 345px;
    left: 20;
    width: 1200px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .cactus-description,
  .union-description,
  .adrenalin-description,
  .spaces-description {
    color: white;
  }

  .like-desktop {
    fill: white;
    opacity: 1;
  }

  .adrenalin__number,
  .union__number,
  .cactus__number,
  .spaces__number {
    color: white;
  }

  .spaces__like {
    margin-left: auto;
    margin-right: 20px;
  }

  .cactus {
    margin-left: -20px;
    position: relative;
  }

  .adrenalin {
    margin-left: 0;
    margin-top: -20px;
    padding: 0;
    position: relative;
  }

  .union {
    position: relative;
  }

  .union-cloud,
  .cactus-cloud {
    position: absolute;
    top: 213px;
    left: 20;
    width: 400px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .adrenalin-cloud {
    position: absolute;
    top: 193px;
    left: 20;
    width: 400px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .union__like,
  .adrenalin__like,
  .cactus__like {
    padding-left: 75px;
  }
}
